/node_module
/dist/
/honarito/dist
/honarito/node_module
/honarito_server/node_module
/db/data1
/db/data2
/db/data3

/honarito/*.class
/honarito/*.py[cod]
/honarito/*.log
/honarito/*.jar
/honarito/target/
/honarito/dist/
/honarito/.idea/
/honarito/TEST*.xml
/honarito/.DS_Store
/honarito/Thumbs.db
/honarito/*.app
/honarito/*.exe
/honarito/*.war
/honarito/*.mp4
/honarito/*.tiff
/honarito/*.avi
/honarito/*.flv
/honarito/*.mov
/honarito/*.wmv

/honarito_server/*.class
/honarito_server/*.py[cod]
/honarito_server/*.log
/honarito_server/*.jar
/honarito_server/target/
/honarito_server/dist/
/honarito_server/.idea/
/honarito_server/TEST*.xml
/honarito_server/.DS_Store
/honarito_server/Thumbs.db
/honarito_server/*.app
/honarito_server/*.exe
/honarito_server/*.war
/honarito_server/*.mp4
/honarito_server/*.tiff
/honarito_server/*.avi
/honarito_server/*.flv
/honarito_server/*.mov
/honarito_server/*.wmv


*.class
*.py[cod]
*.log
*.jar
target/
dist/
.idea/
TEST*.xml
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

